Repository Plan-B-PO/docs, pull requests merged in 2020-01, with the labels that each got.

#39 Logi oraz statusy CT
  test_scenarios/T4_Activate_CT.md
  test_scenarios/data/T4_in.puml
  test_scenarios/data/T4_in.svg
  test_scenarios/data/T9_in.puml
Labels: test

#40 Add ComputationStepPackage to ComputationTask
  api/api.yml
  model/entities.puml
Labels: API, model

#42 computationStatus fot MM
  api/api.yml
Labels: API, model

#41 New computation runnable
  api/api.yml
Labels: API, model

#43 Machine initial connect
  api/api.yml
Labels: API

#44 Diagramy sekwencji
  sequences/T11_sequence_main.puml
  sequences/T11_sequence_main.svg
  sequences/T4_sequence_main.puml
  sequences/T4_sequence_main.svg
  sequences/T5_sequence_main.puml
  sequences/T5_sequence_main.svg
Labels: flow

#46 T11
  test_scenarios/T11_Show_All_CN_List.md
  test_scenarios/data/T11_in.puml
  test_scenarios/data/T11_in.svg
Labels: test

#45 T4
  test_scenarios/T4_Activate_CT.md
  test_scenarios/data/T4_in.puml
  test_scenarios/data/T4_in.svg
Labels: test

#47 T5
  test_scenarios/T5_Abort_CT.md
  test_scenarios/data/T5_in.puml
  test_scenarios/data/T5_in.svg
Labels: test

#49 Fix Seq T4
  sequences/T4_sequence_main.puml
  sequences/T4_sequence_main.svg
Labels: flow

#50 Update Ts
  T5_in.svg
  test_scenarios/T4_Activate_CT.md
  test_scenarios/T5_Abort_CT.md
  test_scenarios/data/T5_in.puml
Labels: test
